*{
    border: 0;
    margin: 0;
}
nav{
    display: flex;
    align-items:baseline;
    background-color:rgb(16, 20, 20);
    width: 1423px;
}
nav div a{
    padding-left: 70px;
    justify-content: space-around;
    color: white;
    font-size: 25px;
}
.body{
    position: relative;
}
.position{
    color: white;
    position: absolute;
    top: 25%;
    left: 10%
}
footer{
    display: flex;
    background-color:rgb(16, 20, 20);
    flex-direction: row;
    color: white;
    height: 170px;
    width: 1423px;
    border: 0;
}
